body{
    background: rgb(0, 77, 0);
}

h1{
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    color: white;
}

h2{
    color: white;
}

nav{
   border: 2px solid white;
   background-color: #556b2f; 
   width: 2541px;
   height: 50px;
}

   

li{
    list-style-type: none;
    text-decoration: none;
   padding: 15px;
    border-radius: 5px;

    font-size: 20px;
    font-weight: bolder;
    
}

ul{
    display: flex;
    

}

nav ul{
    margin: 0px 0px;
   
}

li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}



#Start{
    background-color: green;
    border-radius: 3px 3px 10px 10px;
     border: 2px solid white;
   margin-top: -6px;
  padding-top: 12px;
  padding-left: 100px;
}


.Bild{
    display: flex;
    justify-content: center;
    text-align: center;
   padding-top: 200px;
}